@font-face {
	font-family: "Genshin";
	src: url(asset/zh-cn.ttf);
}

@font-face {
	font-family: "Genshin Impact";
	src: url(asset/Genshin\ Impact\ DRIP\ FONT.ttf);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Genshin", sans-serif;
}

body {
	background-color: #efefef;
}

.container {
	display: flex;
	flex-direction: column;
}

.background-container {
	position: relative;
	margin-bottom: 25px;
}

.background-container .background * {
	filter: brightness(50%);
	display: block;
	max-width: 100%;
}

.title {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.title img {
	height: 75%;
}

.title h1 {
	width: min-content;
	color: white;
	font-family: "Genshin Impact";
	font-size: clamp(1.5rem, 5vw, 3rem);
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.infomation {
	font-weight: 600;
	margin-bottom: 2em;
	padding: 0 12px;
}

.infomation p {
	font-size: 0.75rem;
}

.infomation p:first-child {
	margin-bottom: 1em;
}

.form-container {
	background-color: white;
	padding: 1em 1.5em;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #2f2f3f;
}

.form-container > div {
	display: flex;
	flex-direction: column;
}

.form-container h2 {
	font-size: 1.1rem;
	margin-bottom: 8px;
}

.form-container ul {
	list-style: none;
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
	width: 100%;
}

.form-container li {
	display: flex;
	flex-direction: column;
	gap: 2px;
	width: 45%;
	min-width: 100%;
}

.form-container label {
	font-size: 0.7rem;
}

.form-container input {
	border: hsla(0, 0%, 50%, 0.25) solid 1px;
	border-radius: 3px;
	min-height: 2em;
}

.container-submit {
	margin-top: 32px;
	margin-left: 32px;
}

.container-submit button {
	color: white;
	margin-bottom: 32px;
	padding: 1em 3.5em;
	background-color: #596d48;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.container-submit p {
	font-size: 0.75rem;
}

.container-submit a {
	text-decoration: none;
	color: black;
}

@media (min-width: 768px) {
	.form-container li {
		min-width: unset;
	}
}

@media (min-width: 1024px) {
	.container {
		flex-direction: row;
	}

	.background-container {
		margin-bottom: 0;
	}

	.background-container .background img {
		min-height: 100vh;
		max-width: 40vw;
		filter: none;
	}

	.title {
		margin-top: 200px;
		height: fit-content;
		background-color: hsla(0, 0%, 0%, 0.7);
	}

	.title img {
		width: 35%;
		height: auto;
	}

	.form-container > div {
		max-width: 75%;
	}

	.form-container input {
		max-width: 80%;
	}
}
